/* config */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Ranga:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.main-color {
  background-color: #607ff3;
}

.text-main {
  color: #607ff3;
}
.text-black {
  color: #333 !important;
}

.text-white {
  color: rgb(255, 255, 255) !important;
}
.text-center {
  text-align: center !important;
}

.pl-5 {
  margin-left: 50px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.row,
.col {
  padding: 0 !important;
  margin: 0 !important;
}

.p {
  padding: 0 0.75rem !important;
}

/* akhir config */

.img-hero {
  width: 100%;
  filter: brightness(60%);
}
nav {
  position: fixed;
  z-index: 999;
  /* background-color: transparent !important; */
  box-shadow: none;
}

.brand-logo {
  padding: 15px !important;
}

.acc-content {
  margin-top: 30%;
}
.rectangle {
  margin: 39px 0;
  height: 19px;
  background-color: #607ff3;
  box-shadow: 4px 4px 10px 0px #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rect1 {
  width: 80%;
}

.rect2 {
  width: 60%;
}

.rect3 {
  width: 40%;
}

.mid-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo h1 {
  font-family: "Ranga", cursive;
  letter-spacing: 5px;
  text-shadow: 3px 10px 4px rgba(0, 0, 0, 0.4);
}

.img-ball {
  display: none;
  width: 100px;
  position: absolute;
  z-index: -1;
  right: 60px;
  filter: brightness(80%);
}

.btn-kickoff {
  width: 200px;

  background: #607ff3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  color: white;
  text-align: center;
  font-weight: bold;

  margin: 0 auto;
  cursor: pointer;
}

.slide-content {
  position: fixed;
  top: 20%;
  right: 1%;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.slider {
  width: 7px;
  height: 175px;
  background-color: #b5b5b560;
  border-radius: 30px;
}

.slider-active {
  background-color: #607ff370;
}

/* DAFTAR LIGA */

.daftar-liga {
  position: absolute;
  margin-top: 5rem;
  width: 100%;
}

.daftar-liga .title {
  font-family: "Ranga", cursive;
}

.card {
  margin: 15px;
}

.card .card-title {
  font-size: 20px !important;
}

/* CLUD DETAIL */
.club-container {
  position: relative;
  top: 5rem;
  padding: 0 10rem;
}

.club-img,
.club-shortname,
.club-fullname {
  display: flex;
  justify-content: center;
}

.club-img img {
  width: 20%;
  text-align: center;
}
.club-shortname {
  font-size: 2rem;
  font-weight: 700;
}
.club-fullname {
  font-size: 1rem;
  letter-spacing: 2px;
}

hr {
  color: #fff;
  background-color: #fff;
}

.key {
  font-size: 1.5rem;
  font-weight: 700;
}
.value {
  font-size: 1rem;
}

.value-squad {
  display: flex;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #607ff3;
    color: white;
  }

  .title-logo h1 {
    font-family: "Ranga", cursive;
    letter-spacing: 5px;
    font-size: 40px;
    text-shadow: 3px 10px 4px rgba(0, 0, 0, 0.4);
  }
  .img-ball {
    display: initial;
  }
  .img-hero {
    display: none;
  }
  .slide-content {
    display: none;
  }
  .acc-content {
    margin-top: 40%;
  }
  .rectangle {
    margin: 30px 0;
    height: 15px;
    background-color: white;
  }
  .btn-kickoff {
    display: flex;
    justify-content: center;
    background: #fe830c;
  }

  .card-title {
    color: #333;
  }

  .club-img img {
    width: 50%;
    text-align: center;
  }
  .club-container {
    position: relative;
    top: 5rem;
    padding: 0 1rem;
  }
}

/* STANDING */
.img-thumbnail {
  width: 30px;
  height: 30px;
}
h5 {
  margin: 0;
}
.st-title {
  text-align: center;
}
.st-team,
.st-team a {
  display: flex;
  align-items: center;
}

.st-team a {
  color: black;
}

#standing {
  position: relative;
  margin: 0 auto;
  top: 100px;
}
